* {
  font-family: "GohuFont";
  font-weight: bold;
  font-size: 11pt;
  color: #eff1f5;
  border-radius: 10px;
}

window#waybar {
  all:unset;
}

.modules-left, 
.modules-center, 
.modules-right {
  background: #4c4f69;
}

.modules-center,
.modules-right {
  padding: 0px 5px 0px 5px;
}

#workspaces button.active {
  background-color: #7287fd;
}

#custom-arrow {
  color:  #7287fd;
}
